body {
  font-family: 'Roboto', sans-serif;
}

/*Slightly round photo display*/
.d-inline-block {
  border-radius: 5px;
}

.btn-social{
  margin: 5px;
}

#card_table {
  background-color: darkgreen;
}

#rules, #bet {
  color: white;
  text-align: center;
}

.stats {
  color: yellow;
  text-align: center;
}

button {
  line-height: 60px;
  font-weight: bold;
  padding: 0 40px;
  background: lightblue;
  margin: 10px;
  border-radius: 5px;
}

button:hover {
  background: blue;
  color: white;
}

footer {
  font-size: 16px;
  text-align: center;
}
