body {
  font-family: 'Roboto', sans-serif;
}

/*Slightly round photo display*/
.d-inline-block {
  border-radius: 5px;
}

.btn-social{
  margin: 5px;
}

#card_table {
  background-color: darkgreen;
}

footer {
  font-size: 16px;
  text-align: center;
}
